html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Passion One';
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

h2 {
  font-family: 'Passion One';
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 1.625rem;
}

h3 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h4 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.438rem;
}

.box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  justify-items: start;
  padding: 0 2rem;
}

.p2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #092E37;
    background: #F5F5F5;
  }
}