html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk";
  color: #092E37;
  background: #F5F5F5;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Passion One';
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

h2 {
  font-family: 'Passion One';
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 1.625rem;
}

h3 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h4 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.438rem;
}

.box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  justify-items: start;
  padding: 0 2rem;
}

.p2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media (max-width: 64em) {
  .box {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "first first first first first first"
      "second second second second second second"
    ;
    column-gap: 1rem;
    padding: 0 1rem;
  }
}